<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>main</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body>
	<header class="common_header">
		hori
		<div id="add" class="common_add">
			＋
		</div>
		<div class="common_setting">
			
		</div>
	</header>
	
	<div class="common_contents">
		
		<!-- 堀記録概要 -->
		<div id="summaryList" class="summary_list"></div>

		<!-- 新規登録ボタン -->
		<div class="add_button">
		</div>
		
	</div>
	<script src="../scripts/moduleManager.js"></script>
	<script src="../scripts/common/swipe.js"></script>
	<script src="../scripts/common/storageManager.js"></script>
	<script src="../scripts/common/model/commonList.js"></script>
	<script src="../scripts/main/model/summary.js"></script>
	<script src="../scripts/main/mainController.js"></script>
</body>
</html>