<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>summary</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/summary.css">
</head>
<body>
	<header class="common_header">
		hori
		<div id="add" class="common_add">
			＋
		</div>
		<div class="common_setting">
			
		</div>
	</header>
	
	<div class="common_contents">
		<div class="summary_contents">
			
			<input type="text" value="2-5 大鯨堀" class="hori_name">
			<div class="hori_count">堀回数 50回</div>

			<!-- 結果一覧 -->
			<div id="resultList" class="result_list"></div>	
		</div>
	</div>

	<script src="../scripts/moduleManager.js"></script>
	<script src="../scripts/common/model/commonList.js"></script>
	<script src="../scripts/common/swipe.js"></script>
	<script src="../scripts/summary/model/result.js"></script>
	<script src="../scripts/summary/summaryController.js"></script>
</body>
</html>