<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>hori</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/index.css">
</head>
<body>
	<div class="contents">			
		<div class="title">
			hori
		</div>
		<div class="start_button" id="startButton">
			start
		</div>
	</div>
	<script src="../scripts/moduleManager.js"></script>
	<script src="../scripts/index/indexproc.js"></script>
	<script src="../scripts/index/indexcontroller.js"></script>
</body>
</html>